doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Обучение торговле на криптовалютных биржах
    body#body
        .cirleFormButton 
        .message
            .crossHelper
            .flex-align 
                .image-wrap
                    img(src="img/tetyana.jpeg", alt="")
                .messagePelper 
                    p Татьяна
                    p Чем я могу вам помочь?
        .circleForm
            .crossCircle#crossCircle
            p Напишите ваш вопрос
            form(action="circleTelegram.php", method="POST") 
                div
                    input(type="text" required name="nameCircle" id="nameCircle" placeholder="Ваше имя") 
                div
                    include components/code.html
                div
                    input(type="text", name="textForm", placeholder="Ваш вопрос")
                div 
                    input(type="submit", class="submitButton" value="Отправить", name="cirleSub")
        header 
            .header-bg1
            .header-bg2
            .wrapper
                .header-line 
                    nav
                        div.burgerMenu
                            span
                            span 
                            span 
                        ul.menu.flex-between.headerMenu
                            li
                                a(href="#curse") о курсе
                            li
                                a(href="#study") стоимость
                            li
                                a(href="#advantage") почему мы
                            li
                                a(href="#answer") вопросы
                            li
                                a(href="#earn") связаться
                        
                .header-content.flex-between
                    .header-text
                        div
                            p Оплата только за результат
                            h1 обучение торговле на криптовалютных биржах
                            p Научитесь торговать на реальных биржах, таких как Binance, Kraken, Bitfinex, Zineera, NYSE, NASDAQ и Currency.
                        a(href="#earn").application.flex-align
                            span Оставить заявку
                            span.span
                    .header-image
        main.wrapper
            .curse#curse
                .wrapper.flex-between.curseBlock
                    p Если вы хотите обучиться искусству трейдинга, мы предлагаем самый эффективный способ обучения — индивидуальная работа в связке с профессионалом.
                    img(src="img/curse.jpg", alt="", class="image")
                .wrapper.knowCurse
                    h2 что вы узнаете на курсе
                    div
                        .flex
                            p Как устроены криптовалютные биржи
                            p Как правильно покупать и продавать акции, крипту
                        .flex
                            p Где находить информацию про актуальные IPO и ICO
                            p Как грамотно анализировать рынок
                        .flex
                            p Получите простые и продуманные системы ведения мани-менеджмента
                            p Сформируете правильный психологический настрой и отношение к инвестициям
            .study#study
                .bg 
                .bg1
                h2 стоимость обучения
                .flex-between
                    img(src="img/studyImage.jpg", alt="", class="image" id="studyImage")
                    .study-text 
                        h3 вы платите только за результат
                        p Если наше обучение и консультации, принесут вам прибыль - вы платите 10% от дохода. Если вам не удалось заработать на курсе - вы ничего не платите.
                        a(href="#earn").application.flex-align
                            span Оставить заявку
                            span.span
            .advantage#advantage
                h2 преимущества обучения с нами
                div
                    table 
                        tbody 
                            tr 
                                td
                                    div
                                        .imageAdvantage
                                            img(src="img/money.svg", alt="")
                                        p Наше обучение абсолютно бесплатно, вы платите только в случае заработка в процессе обучения
                                td
                                    div
                                        .imageAdvantage
                                            img(src="img/binance.svg", alt="")
                                        p Все, что вам нужно - это активный счет на одной из бирж (Binance, Kraken, Bitfinex, Zineera, NYSE, NASDAQ, Currency). Если такого счета нет - мы поможем вам его открыть
                            tr 
                                td
                                    div 
                                        .imageAdvantage
                                            img(src="img/person.svg", alt="")
                                        p Обучение проходит индивидуально с опытным аналитиком, который научит вас максимально эффективно распоряжаться ваши бюджетом
                                td 
                                    div
                                        .imageAdvantage
                                            img(src="img/wallet.svg", alt="")
                                        p Мы заинтересованы в вашем успехе, по этому поделимся с вами нашими лучшими методиками и поможем заработать
            .whyUs#whyUs
                h2 почему вам стоит выбрать нас
                div
                    .flex.whyUsColumn
                        div.flex-align
                            p 01
                            p Мы - группа оппытных трейдеров, которые работают с 2016 года
                        div.flex-align
                            p#number3 03
                            p Наши аналитики успешно управляют многомиллионными капиталами
                    .flex.whyUsColumn
                        div.flex-align
                            p#number2 02
                            p Услугами нашего консалтинга пользуются люди из Японии, Австралии, Китая, Новой Зеландии и страг СНГ
                        div.flex-align
                            p 04
                            p Имеем партнерские контракты с надежными брокерами по всему миру
            .stages
                .bg2 
                .bg3
                .flex-between
                    h2 этапы сотрудничества с нами
                    ul.menu 
                        li.flex-align
                            p 01
                            p Вы оставляете заявку на сайте
                        li.flex-align
                            p 02
                            p Оговориваете все делати обучения с нашим менеджером
                        li.flex-align 
                            p 03
                            p Открываете счет на бирже
                        li.flex-align 
                            p 04
                            p Начинаете торги на бирже вместе с аналитиком
                        li.flex-align
                            p 05
                            p Получаете доход и выводите прибыль
                        li.flex-align 
                            p 06
                            p Оплачиваете стоимость обучения в размере 10% от прибыли
            .answer.wrapper#answer
                h2 ответы на вопросы
                .flex-align
                    p 01
                    div.flex
                        div.question
                            p Сколько стоит обучение?
                            div.Answer
                                p Обучение бесплатно, вы оплачиваете только 10% от своей прибыли. Если вы ничего не заработаете - вы ничего не платите.
                        .answerArrow
                .flex-align 
                    p 02
                    .flex
                        div.question
                            p Какой депозит мне необходим для старта?
                            div.Answer
                                p Для успешной работы мы рекомендуем иметь сумму депозита от 500$. Чем больше депозит - тем выше возможная прибыль.
                        .answerArrow
                .flex-align  
                    p 03
                    .flex
                        div.question
                            p Могу ли я потерять свои деньги?
                            div.Answer
                                p Мы готовы поделиться с вами простыми и очень продуманными системами ведения мани-менеджмента, которые делают абсолютно невозможной потерю более чем 5% от своего капитала. В том числе, мы используем японские автоматические системы ограничения любых рисков, которые работают 24/7 без пауз для обновлений.
                        .answerArrow
                .flex-align 
                    p 04
                    .flex
                        div.question
                            p Какие гарантии, что я смогу заработать?
                            div.Answer
                                p Вы будете работать в связке с опытным аналитиком, и при выполнении всех его советов и рекомендаций шанс заработать очень высок.
                        .answerArrow
                .flex-align 
                    p 05
                    .flex
                        div.question
                            p Сколько времени необходимо уделять обучению
                            div.Answer
                                p Все зависит от ваших пожеланий, мы рекомендуем уделять обучению от 1-2 часов в день.
                        .answerArrow
            .earn.wrapper.flex-between#earn
                a(href="#" id="earnA") 
                h2 начните зарабатывать уже сейчас
                form(action="telegram.php", method="POST", id="forma") 
                    input(type="hidden" name="activeCode" class="ActiveCode" value="+38")
                    div
                        label(for="name") Имя
                        input(type="text" required name="userName" id="name" placeholder="Ваше имя") 
                    div
                        label(for="pnone") Телефон
                        include components/code.html
                    div
                        label(for="email") Почта
                        input(type="email" name="userEmail" id="email" placeholder="e-mail@example.com")
                    div
                        label(for="communication") Удобный способ связи
                        select(name="communication" id='communication') 
                            option(value="Звонок") Звонок
                            option(value="WhatsApp") WhatsApp 
                            option(value="Telegram") Telegram
                            option(value="Viber") Viber  
                    div
                        label(for="sum") Инвестиционный депозит
                        select(name="sum" id="sum")
                            option(value="500$ - 5000$") 500$ - 5000$
                            option(value="5000$ - 20'000$") 5000$ - 20'000$
                            option(value="больше 20'000$") больше 20'000$
                    input(type="submit" class="submitButton" id="submitForm" value="Оставить заявку")
        hr
        footer
            .bg4 
            .bg5 
            .wrapper.flex-align
                p © 2020-2022. Все права защищены
                p 
                    a(href="#") Политика конфиденциальности
        script(src="js/script.js") 
